@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ICBF</h1>
    <p><h3>Instituto Colombiano de Bienestar Familiar</h3>Prevención y protección integral de la primera infancia, la niñez, la adolescencia y adultos mayores.</a>.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ2LEYsmvxlU9SlekHdGB5lrdjey4cKogqlg&s" alt="ICBF" />
</div>
